# Virtual Environment
venv/
ENV/
env/

# Scrapling Session Data (SENSITIVE)
.scrapling_session/
SingletonLock

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Telegram sensitive data
api_key.py
chat_id.txt
node_modules/
package-lock.json
package.json
